@media only screen and (max-width:1220px) {
    #game {
        width: 50vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 15vw;
        height: 15vh;
        font-size: 7vw;
    }

    .score {
        width: 70vw;
        height: 10vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 3.5vw;
    }

}

@media only screen and (max-width:1050px) {
    #game {
        width: 50vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 15vw;
        height: 15vh;
        font-size: 7vw;
    }

    .btn {
        font-size: 1.5vw;
        width: 11vw;
        height: 5vh;
    }

    .score {
        width: 70vw;
        height: 10vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 3.5vw;
    }


}

@media only screen and(max-width) {
    .box {
        font-size: 7vw;
    }

}

@media only screen and (max-width:800px) {
    #game {
        width: 50vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 15vw;
        height: 15vh;
        font-size: 7vw;
    }

    .btn {
        font-size: 1.8vw;
        width: 12vw;
        height: 5vh;
    }

    .score {
        width: 80vw;
        height: 10vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 4vw;
    }
}

@media only screen and (max-width:700px) {
    #game {
        width: 60vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 18vw;
        height: 15vh;
        font-size: 7vw;
    }

    .btn {
        font-size: 1.8vw;
        width: 13vw;
        height: 5vh;
        padding: 1%;
    }

    .score {
        width: 100vw;
        height: 11vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 4vw;
    }
}

@media only screen and (max-width:600px) {
    .score {
        width: 100vw;
        height: 11vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    .box {
        font-size: 7vw;
    }

    #msg {
        font-size: 5vw;
    }
}

@media only screen and (max-width:550px) {
    #game {
        width: 80vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 22vw;
        height: 15vh;
        font-size: 8vw;
    }

    .btn {
        font-size: 2.3vw;
        width: 16vw;
        height: 5vh;
        padding: 1%;
    }

    .score {
        width: 100vw;
        height: 11vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 5vw;
    }
}

@media only screen and (max-width:400px) {
    #game {
        width: 80vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 22vw;
        height: 15vh;
        font-size: 9vw;
    }

    .btn {
        font-size: 2.5vw;
        width: 18vw;
        height: 5vh;
        padding: 1%;
    }

    .score {
        width: 100vw;
        height: 11vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 5vw;
    }

}

@media only screen and (max-width:300px) {
    #game {
        width: 90vw;
        height: 45vh;
        justify-content: center;

    }

    .box {
        border-width: 3px;
        width: 25vw;
        height: 15vh;
        font-size: 9vw;
    }

    #nav {
        font-size: 6vw;
    }

    .score {
        width: 100vw;
        height: 11vh;
        font-size: 2vw;
        padding-top: 2%;
    }

    #msg {
        font-size: 5vw;
    }
}